[Desktop Entry]
Type=Application
Exec=/opt/beeper/beeper --no-sandbox
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Beeper
Name=Beeper
Comment[en_US]=launch beeper from opt/beeper as installed through AM
Comment=launch beeper from opt/beeper as installed through AM
