[Desktop Entry]
Type=Application
Exec=$HOME/Documents/rclone_sync.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Rclone
Name=Rclone
Comment[en_US]=
Comment=
