---
- Infrastructure:
    - Homepage:
        icon: homepage.png
        href: "http://{{ ansible_facts.default_ipv4.address }}:{{ homepage_port }}/"
        description: Server dashboard
        server: local-docker
        container: {{ homepage_container_name }}
        showStats: true
        siteMonitor: "http://127.0.0.1:{{ homepage_port }}/"
