---
title: {{ homepage_title }}
description: {{ homepage_description }}
theme: {{ homepage_theme }}
color: {{ homepage_color }}
language: {{ homepage_language }}
headerStyle: {{ homepage_header_style }}
target: _self
hideVersion: false
disableUpdateCheck: false
statusStyle: dot
useEqualHeights: true
fullWidth: true
